body{
    background-color: rgb(240,242,245);
    
}
body a{
    text-decoration: none;
}
header{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}
.leftsidebar{
    height: 90vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
   
}
.rightsidebar{
    height: 90vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
header .fa-facebook{
    color: rgb(15,144,243);
}
header i{
    color: black;
}
header .text-primary{
    color: rgb(15,144,243);
    font-weight: bold;
}
.facebookleft a i{
    background-color: rgb(240,242,245);
    border-radius: 20px;
    padding: 8px;
    margin: 2px;
}
header .facebook2nd a:hover{
    background-color: rgb(240,242,245);
    cursor: pointer;
    border-radius: 10px;
}
header .facebook2nd .active{
    pointer-events: none;
}

header .facebook2nd .active i{
    color: rgb(15,144,243);
}
@media only screen and (min-width: 769px) {
    header .facebook2nd  i{
        font-size: 23px;
    }
}
.input[type=search]{
    height: 30px;
    border: 1px solid rgb(255, 255, 255);
    color: gray;
    background-color: rgb(240,242,245);
}

.fa-circle-plus{
    font-size: 28px;
}
.card-text{
    font-size: 12px;
}
.story1text{
    font-size: 14px;
    color: white;
    margin-top: 42px;
    margin-left: 3px;
    line-height: 1;
    font-weight: bold;
    justify-content: center;
}

.contentheadertext{
    font-weight: bold;
    font-size: 13px;
}
.fa-circle-check{
    color: rgb(23,113,230);
}
.contentheadertext2{
    font-size: 11px;
}
.contentmenu{
    color: white;
}
.fa-ellipsis, .fa-comment{
    color: black;
}
.contentcard, .card-header, .card-footer{
    border-color: white;
    background-color: white;
}
.fa-heart{
    color: rgb(252,91,118);
}
.hb{
    color: black;
}
main .hb img{
    width: 35px;
}
header .hb img{
    width: 25px;
}
.hb2{
    color: rgb(69,189,98);
}
.card-footer, .footer{
    height: 40px;
}
.fa-facebook{
    font-size: 40px;
}
.headerright a{
    background-color: rgb(228,230,235);
    
}
header .headerright .headerrightdropdown .dropdown-menu a{
    background-color: white;
}
.headerright .headerrightdropdown .dropdown-menu a:hover{
    background-color: rgb(230,235,235);
    cursor: pointer;
    border-radius: 5px;
}
.headerright a:hover{
    background-color: rgb(241,241,241);
    cursor: pointer;
}
header .navbar form input{
    background-color: rgb(240,242,245);
}
.headerright i{
    font-size: 18px;
}
.headerright img{
    max-width: 40px;
}
.headerright .headerrightdropdown .dropdownshadow{
    box-shadow: 0 2px 8px 4px rgb(225,225,225);
}
.headerright .headerrightdropdown .dropdownshadow h6{
    color: rgb(77,150,245);
}
.headerright .headerrightdropdown .dropdownshadow img{
    width: 35px;
}
.headerright .headerrightdropdown .dropdown-menu i{
    background-color: rgb(241,241,241);
    font-size: 20px;
}
.headerright .headerrightdropdown .dropdown-menu a{
    font-size: 15px;
    font-weight: 600;
}
.headerright .headerrightdropdown .dropdown-menu{
    width: 350px;
    height: 450px;
}
.leftsidebar a img{
    max-width: 35px;
}
.leftsidebar a, .rightsidebar a{
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.leftsidebar a:hover, .rightsidebar a:hover{
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(228,230,233);
}
.leftsidebar i{
    color: rgb(36,173,252);
}
.leftsidebar .dropdown{
    color: rgb(216,218,223);
    font-size: 30px;
}
.rightsidebar h6{
    font-weight: 600;
    font-size: 17px;
    color: rgb(113,115,119);
}
.rightsidebar .fa-gift{
    color: rgb(32,160,250);
}
.rightsidebar .contactsection i{
    color: rgb(113,115,119);
    justify-content: center;
    display: flex;
}
.rightsidebar img{
    max-width: 30px;
}
.rightsidebar{
    max-width: 350px;
}
main .searchbarlg img{
    max-width: 40px;
}
main .searchbarlg a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}
main .searchbarlg .fa-video{
    color: rgb(240,40,73);
}
main .searchbarlg .fa-image{
    color: rgb(69,189,98);
}
main .searchbarlg .fa-face-smile{
    color: rgb(247,185,40);
}
main .searchbarlg form input:hover, main .searchbarlg .row a:hover{
    background-color: rgb(228,230,233);
    border-radius: 5px;
}
main .searchbarlg form input{
    background-color: rgb(240,242,245);
    height: 40px;
}
main .headerstory .active{
    font-weight: 600;
}
main .headerstory .nonactive{
    font-weight: 600;
    color: rgb(96,98,102);
}
.main{
    max-width: 680px;
}
.postcontent img{
    cursor: pointer;
}
.leftsidebar #asidecollapse .card, .leftsidebar #asidecollapsebottom .card{
    background-color: rgb(240,242,245);
    border-color: rgb(240,242,245);
}
.leftsidebar h6{
    font-weight: 600;
    font-size: 17px;
    color: rgb(113,115,119);
}
.leftsidebar img{
    max-width: 30px;
}
.leftsidebar i{
    font-size: 25px;
}
.leftsidebar{
    max-width: 350px;
}
.smheaderdropdown a i{
    background-color: white;
}
.smheaderdropdown li:hover, .smheaderdropdown li a i:hover{
    background-color: rgb(240,242,245);
}
.smheaderdropdown{
    min-width: 115px;
}
.offcanvas-body{
    background-color: rgb(240,242,245);
}
.offcanvas-body a i{
    font-size: 20px;
}
.offcanvas{
    min-height: 310px;
}
